@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-text-primary;
}

:root[data-theme='light'] body {
  @apply bg-gray-50;
}

:root[data-theme='dark'] body {
  @apply bg-gray-900;
}
